.botoes{
    background: #2f80ed;
    color: #5fa8ff;
    border: none;
    border-radius: 200px;
    padding: 10px 28px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
